body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

header {
    text-align: center;
    /* color: black; */
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    top: 69px;
    font-size: 15px;
    animation: 2s fadeIn;
    border-radius: 10px;
    width: 100%;
}

.btn:hover {
    background-color: #006d8f;
}

@keyframes fadeIn {
    0%{opacity: 0;}75%{opacity: 0;}100%{opacity: 1;}
}

.imgBtn {
    border-radius: 10px;
    transition: all 200ms;
    z-index: 2;
}

#aboutImg {
    animation: ease-out 1.5s slideInL;
    width: 100%;
}

#portImg {
    animation: ease-out 1.5s slideUp;
}

#conImg {
    animation: ease-out 1.5s slideInR;
}

@keyframes slideUp {
    0% {transform: translatey(300%);}
    100% {transform: translatey(0);}
}

@keyframes slideInL {
    0% {transform: translatex(-200%);}
    100% {transform: translatex(0);}
}

@keyframes slideInR {
    0% {transform: translatex(200%);}
    100% {transform: translatex(0);}
}

@media only screen and (max-width: 600px) {
    .btn {
        top: 0;
        border-radius: 10px;
        font-size: 4vw;
        width: 100%;
        min-width: 100px;
    }
}
@media only screen and (min-width: 993px){
    .topBar {
        width: 70%;
        margin-right: 15%;
    }
}
@media only screen and (min-width: 600px){
    .topBar {
        width: 85%;
        margin-right: 7.5%;
    }
}
@media only screen and (max-width: 460px){
    .btn {
        width: 5px;
    }
}

#aboutSection {
    margin-top: 400px;
    opacity: 0;
    transition: all 200ms; 
}

#newHeader {
    opacity: 0;
    transition: all 500ms;
    margin: -5px;
    height: 1px;
    cursor: pointer;
    text-shadow: 
        0px 4px 4px black,
        4px 0px 4px black,
        0px -4px 4px black,
        -4px 0px 4px black;
}

#newHeader:hover {
    color: #006d8f;
}

.topWords {
    transition: all 500ms;

}

.imgCtn {
    transition: all 500ms;
}

.container {
    height: 3000px;
}

p {
    transition: all 500ms;
}

div.topBar {
    max-width: 1280px;
    width: 100%;
    z-index: 2;
}

nav {
    width: 100%;
    border-radius: 10px;
    background-color: #0e3600;
}

.aboutIcon, .portIcon, .conIcon {
    position: relative;
    right: 30px;
    bottom: 10px;
    margin-bottom: -55px;
    transition: all 200ms;
}

.aboutTxt, .portTxt, .conTxt {
    position: relative;
    left: 15px;
    transition: all 200ms;
}

.portIcon {right: 45px;}

.portTxt {left: 15px;}

.conIcon {right: 40px;}

.conTxt {left: 15px;}


#portfolioSection {
    position: relative;
    top: 200px;
    margin: 0;
    width: 100%;
}

.portItem {
    background-color: green;
    height: 100px;
    border-radius: 10px;
}

.pi1 {
    animation: ease-out 0.5s slideInP;
}
.pi2 {
    animation: ease-out 1s slideInP;
}
.pi3 {
    animation: ease-out 1.5s slideInP;
}
.pi4 {
    animation: ease-out 2s slideInP;
}
@keyframes slideInP {
    0% {transform: translatex(-200%);}
    100% {transform: translatex(0);}
}

.abtDesc {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 5px 20px;
    border-radius: 10px;
}